@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Playpen Sans', cursive;
}

.inicio {
    display: flex;
    flex-flow: row wrap;
}

.ol {
    display: flex;
    flex-flow: row wrap;
}
.inicio h1{
    text-align: center;
    width: 100%;
}
.ol li{
   margin-top: 0;
   margin-bottom: 20px;
   margin-left: 150px;
   margin-right: 150px;
}
.inicio,.fim {
    display: flex;
    flex-flow: row wrap;
    margin: 100px
}
.inicio p,.ol li ,.fim p{
    text-align: justify;
    font-size: 25px;
}