/* style.css */

/* Estilo para o corpo da página */
body {
    background-color: #F5DEB3;
    /* Fundo amarelo claro */
    margin: 0;
    padding: 0;
}

/* Estilo para o contêiner de todo o texto */
.container {
    background-color: #f0f0f0;
    /* Cor de fundo cinza */
    padding: 20px;
    border-radius: 10px;
    /* Bordas arredondadas */
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

/* Estilo para o título principal */
h1 {
    font-family: 'Helvetica Neue', sans-serif;
    color: #333;
    text-align: center;
    font-size: 36px;
    margin-top: 0;
}

/* Estilo para o parágrafo principal */
p {
    font-family: 'Georgia', serif;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

/* Estilo para a lista ordenada */
ol {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin-left: 30px;
    padding-left: 15px;
}

/* Estilo para os itens da lista ordenada */
ol li {
    margin: 10px 0;
}

/* Estilo para os links */
a {
    color: #0073e6;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Estilo